<div class="relative">
  <%- partial('_partial/post-meta', { post: page }) %>

  <div id="article-wrapper" class="relative mb-12">
    <div id="notion-article">
      <%- page.content %>
    </div>
  </div>

  <%- partial('_partial/article-adjacent', { post: page }) %>
</div>
